{% extends "layout.html" %}
{% block title %}
    Compare
{% endblock %}
{% block main %}
<br>
<p class="lead">Please introduce two orthologs Ensembl ids.</p>
<br>
<form method="post">
  <textarea style="width: 40%" rows="1" name="source_id" style="text-align: center" placeholder="e.g. ENSG00000167785"></textarea>
  <br><br>
  <textarea style="width: 40%" rows="1" name="ortho_id" placeholder="e.g. ENSG00000167785"></textarea>
  <br><br>
  <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
